<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zdata.yundong.dao.HotWordsRiseMapper">
  <resultMap id="BaseResultMap" type="com.zdata.yundong.model.HotWordsRise">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="word" jdbcType="VARCHAR" property="word" />
    <result column="hot_words_id" jdbcType="INTEGER" property="hotWordsId" />
    <result column="pv" jdbcType="INTEGER" property="pv" />
    <result column="click_num" jdbcType="INTEGER" property="clickNum" />
    <result column="ctr" jdbcType="VARCHAR" property="ctr" />
    <result column="cvr" jdbcType="VARCHAR" property="cvr" />
    <result column="compete_value" jdbcType="INTEGER" property="competeValue" />
    <result column="impr_avg_bid" jdbcType="VARCHAR" property="imprAvgBid" />
    <result column="cat_id" jdbcType="INTEGER" property="catId" />
    <result column="cat_name" jdbcType="VARCHAR" property="catName" />
    <result column="rise_date" jdbcType="DATE" property="riseDate" />
    <result column="pv_percent" jdbcType="VARCHAR" property="pvPercent" />
    <result column="click_num_percent" jdbcType="VARCHAR" property="clickNumPercent" />
  </resultMap>
  <sql id="Base_Column_List">
    id, word, hot_words_id, pv, click_num, ctr, cvr, compete_value, impr_avg_bid, cat_id, 
    cat_name, rise_date, pv_percent, click_num_percent
  </sql>
  <select id="selectByWord" parameterType="java.lang.String" resultMap="BaseResultMap">
  	select 
    <include refid="Base_Column_List" />
    from hotwordsrise
    where word = #{word,jdbcType=VARCHAR}
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from hotwordsrise
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="find" parameterType="com.zdata.yundong.vo.search.HotWordsRiseSearchVo" resultMap="BaseResultMap">
  	select 
    <include refid="Base_Column_List" />
    from hotwordsrise
    where 1=1 
    <include refid="search_sql_base"/>
    order by pv desc
  </select>
  <sql id="search_sql_base">
  	<if test="catId != null and catId !=''">
	  	and cat_id = #{catId,jdbcType=INTEGER}
	</if>
  	<if test="word != null and word !=''">
	  	and word like '%${word}%'
	</if>
	<if test="riseDate != null and riseDate !=''">
	  	and rise_date = #{riseDate,jdbcType=DATE}
	</if>
  </sql>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from hotwordsrise
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zdata.yundong.model.HotWordsRise">
    insert into hotwordsrise (id, word, hot_words_id, 
      pv, click_num, ctr, 
      cvr, compete_value, impr_avg_bid, 
      cat_id, cat_name, rise_date, 
      pv_percent, click_num_percent)
    values (#{id,jdbcType=INTEGER}, #{word,jdbcType=VARCHAR}, #{hotWordsId,jdbcType=INTEGER}, 
      #{pv,jdbcType=INTEGER}, #{clickNum,jdbcType=INTEGER}, #{ctr,jdbcType=VARCHAR}, 
      #{cvr,jdbcType=VARCHAR}, #{competeValue,jdbcType=INTEGER}, #{imprAvgBid,jdbcType=VARCHAR}, 
      #{catId,jdbcType=INTEGER}, #{catName,jdbcType=VARCHAR}, #{riseDate,jdbcType=DATE}, 
      #{pvPercent,jdbcType=VARCHAR}, #{clickNumPercent,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zdata.yundong.model.HotWordsRise">
    insert into hotwordsrise
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="word != null">
        word,
      </if>
      <if test="hotWordsId != null">
        hot_words_id,
      </if>
      <if test="pv != null">
        pv,
      </if>
      <if test="clickNum != null">
        click_num,
      </if>
      <if test="ctr != null">
        ctr,
      </if>
      <if test="cvr != null">
        cvr,
      </if>
      <if test="competeValue != null">
        compete_value,
      </if>
      <if test="imprAvgBid != null">
        impr_avg_bid,
      </if>
      <if test="catId != null">
        cat_id,
      </if>
      <if test="catName != null">
        cat_name,
      </if>
      <if test="riseDate != null">
        rise_date,
      </if>
      <if test="pvPercent != null">
        pv_percent,
      </if>
      <if test="clickNumPercent != null">
        click_num_percent,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="word != null">
        #{word,jdbcType=VARCHAR},
      </if>
      <if test="hotWordsId != null">
        #{hotWordsId,jdbcType=INTEGER},
      </if>
      <if test="pv != null">
        #{pv,jdbcType=INTEGER},
      </if>
      <if test="clickNum != null">
        #{clickNum,jdbcType=INTEGER},
      </if>
      <if test="ctr != null">
        #{ctr,jdbcType=VARCHAR},
      </if>
      <if test="cvr != null">
        #{cvr,jdbcType=VARCHAR},
      </if>
      <if test="competeValue != null">
        #{competeValue,jdbcType=INTEGER},
      </if>
      <if test="imprAvgBid != null">
        #{imprAvgBid,jdbcType=VARCHAR},
      </if>
      <if test="catId != null">
        #{catId,jdbcType=INTEGER},
      </if>
      <if test="catName != null">
        #{catName,jdbcType=VARCHAR},
      </if>
      <if test="riseDate != null">
        #{riseDate,jdbcType=DATE},
      </if>
      <if test="pvPercent != null">
        #{pvPercent,jdbcType=VARCHAR},
      </if>
      <if test="clickNumPercent != null">
        #{clickNumPercent,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zdata.yundong.model.HotWordsRise">
    update hotwordsrise
    <set>
      <if test="word != null">
        word = #{word,jdbcType=VARCHAR},
      </if>
      <if test="hotWordsId != null">
        hot_words_id = #{hotWordsId,jdbcType=INTEGER},
      </if>
      <if test="pv != null">
        pv = #{pv,jdbcType=INTEGER},
      </if>
      <if test="clickNum != null">
        click_num = #{clickNum,jdbcType=INTEGER},
      </if>
      <if test="ctr != null">
        ctr = #{ctr,jdbcType=VARCHAR},
      </if>
      <if test="cvr != null">
        cvr = #{cvr,jdbcType=VARCHAR},
      </if>
      <if test="competeValue != null">
        compete_value = #{competeValue,jdbcType=INTEGER},
      </if>
      <if test="imprAvgBid != null">
        impr_avg_bid = #{imprAvgBid,jdbcType=VARCHAR},
      </if>
      <if test="catId != null">
        cat_id = #{catId,jdbcType=INTEGER},
      </if>
      <if test="catName != null">
        cat_name = #{catName,jdbcType=VARCHAR},
      </if>
      <if test="riseDate != null">
        rise_date = #{riseDate,jdbcType=DATE},
      </if>
      <if test="pvPercent != null">
        pv_percent = #{pvPercent,jdbcType=VARCHAR},
      </if>
      <if test="clickNumPercent != null">
        click_num_percent = #{clickNumPercent,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zdata.yundong.model.HotWordsRise">
    update hotwordsrise
    set word = #{word,jdbcType=VARCHAR},
      hot_words_id = #{hotWordsId,jdbcType=INTEGER},
      pv = #{pv,jdbcType=INTEGER},
      click_num = #{clickNum,jdbcType=INTEGER},
      ctr = #{ctr,jdbcType=VARCHAR},
      cvr = #{cvr,jdbcType=VARCHAR},
      compete_value = #{competeValue,jdbcType=INTEGER},
      impr_avg_bid = #{imprAvgBid,jdbcType=VARCHAR},
      cat_id = #{catId,jdbcType=INTEGER},
      cat_name = #{catName,jdbcType=VARCHAR},
      rise_date = #{riseDate,jdbcType=DATE},
      pv_percent = #{pvPercent,jdbcType=VARCHAR},
      click_num_percent = #{clickNumPercent,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>